<div>

  <h4>Tarefas Pendentes</h4>

  <table id="table-tarefas-pendentes" class="table">
    <thead>
      <tr>
        <th scope="col" width="80%">Tarefa</th>
        <th scope="col" width="20%">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Tarefas teste</th>
        <td>
            <div class="d-flex justify-content-center">
              <button class="btn-concluir btn btn-success rounded-circle mx-1"><i class="fa fa-check"></i></button>
              <button class="btn btn-primary rounded-circle mx-1"><i class="fa fa-pencil"></i></button>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>
